body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    background-color: #d88b33;  
    color: rgb(243, 236, 236);
    padding: 20px;
    margin: 0;
  }
  
  form {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 90%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #d88b33;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #output {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }